[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Diogo364/my-nvim.git
[submodule ".config/lean-nvim"]
	path = .config/lean-nvim
	url = git@github.com:Diogo364/my-nvim.git
	branch = lean
