@import 'theme.css';

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-size: 11px;
    font-family: "Jet Brains Mono", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

#waybar {
    background-color: @bar-bg;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    border-radius: 5px;
    box-shadow: 0px 0px black;
}

#workspaces button {
    border: 0px;
    margin: 0px 15px 0px 0px;
    padding: 0px 4px 0px 4px;
    color: @main-fg;
    background: @main-bg;
    transition: all 0.5s ease-in-out;
}


#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    border-radius: 10;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 16px;
    background-color: @main-bg;
    opacity: 0.9;
}

tooltip label {
    color: @main-fg;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    margin: 0px 15px 0px 0px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: @main-bg;
    color: @main-fg;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left {
    margin-left: 0;
    padding-left: 7px;
    padding-right: 7px;
    color: @main-fg;
}

.modules-right {
    margin-right: 0;
    padding-left: 7px;
    padding-right: 7px;
    color: @main-fg;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu {
    color: @main-fg;
    background: @main-bg;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    color: @main-fg;
    background: @main-bg;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    color: @main-fg;
    background: @main-bg;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

#pulseaudio.muted {
    color: @main-fg;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    color: @main-fg;
    background: @main-bg;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

#network.ethernet {
    color: @main-fg;
}

#network.wifi {
    color: @main-fg;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.off,
#bluetooth.connected {
    color: @main-fg;
    background: @main-bg;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}


/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    color: @main-fg;
    background: @main-bg;
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
}

#battery.medium {
    color: yellow;
}

@keyframes blink {
    to {
        background-color: @wb-hvr-bg;
        color: @wb-hvr-fg;
    }
}

#battery.critical {
    color: @warning-fg;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
