configuration {
    timeout {
      action: "kb-cancel";
      delay:  0;
    }
    filebrowser {
      directories-first: true;
      sorting-method:    "name";
    }
    modi: "combi,keys";
    icon-theme: "Papirus";
    show-icons: true;
    combi-modi: "run,drun";
}

@theme "/home/dinascimento/.cache/wal/colors-rofi-light.rasi"
