configuration {
    timeout {
      action: "kb-cancel";
      delay:  0;
    }
    modi: "combi,keys";
    icon-theme: "Papirus";
    show-icons: true;
    combi-modi: "run,drun";
}

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
